{
    "kasausername": "",
    "kasapassword": "",
    "cameras": [
        {
            "cameraip": "",
            "cameraname": ""
        },
        {
            "cameraip": "",
            "cameraname": ""
        }
    ]
  }